.dashboardContainer{
    padding: 5px;
    height: 98vh;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10%;
}

.viewAreaConatiner{
    display: flex;
    height: 90%;
}

.viewArea{
    flex: 1;
    border: 1px solid rgb(9, 3, 94);
    background-color: rgb(165, 160, 236);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.eachHeaderElement{
    margin: 3px;
}

.logoutButton{
    background-color: rgba(56,10,56,1);
    color: #ffffff;
    padding: 6px 25px;
    border-radius: 18px;
    margin: 17px 0px;
    outline: none;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .logoutButton{
        padding: 6px 25px;
        margin: 0px
    }
    .urlInputtext{
        padding: 5px;
    }
    .header{
        display: inline;
    }
    input{
        width: 93% !important;
    }
    .viewAreaConatiner{
        display: inline;
        height: 100vh;
    }
    .viewArea{
        height: 50%;
    }
    .dashboardContainer{
        padding: 5px;
        height: 150vh;
    }
}